<div class="log_img">
    <img src="../assets/img/LogoPollosElMono.png" alt="Logo Pollos el Mono">
  </div>

<router-outlet></router-outlet>

<footer>
  <div>
      <div class="ubicacion">
        <strong><h3>Ubicación de los Locales: </h3></strong>
        <h4>Dir: Av. Pedro Vicente Maldonado &, Quito</h4>
        <h4>Dir: S57D Y, E3I, Quito 170132</h4>
        <h4>Dir: Leonidas Dubles 118, Quito 170132</h4>
        <h4>Dir: Leonidas Dubles, Quito 170132</h4>
        <h4>Dir: Leonardo Dubles E5A, Quito 170710 </h4>
      </div>
      <div class="contactos">
        <strong><h3>Contactos: </h3></strong>
        <h4><strong>Telf:</strong> 0959561247</h4>
        <h4><strong>Telf:</strong> 0989328963</h4>
        <h4><strong>Telf:</strong> 0980768111</h4>
        <h4><strong>Telf:</strong> 3651362</h4>
      </div>
      <div class="redes">
        <strong><h3>Redes Sociales</h3></strong>
        <div class="ajustar_redes">
        <a href="https://www.facebook.com/El-Mono-Pollos-Asados-108933404140244" target="_blank"><i class="bi bi-facebook fac"></i></a>
        <a href="https://www.instagram.com/asaderodepollos_elmono/?hl=es" target="_blank"><i class="bi bi-instagram ins"></i></a>
        <a href="https://www.tiktok.com/@user1673248494204tatus" target="_blank"><i class="bi bi-tiktok tik"></i></a>
      </div>
      </div>
      <div class="logo_footer">
        <img src="../assets/img/TotoPollosElMono.png" alt="Pollos El Mono">
      </div>
  </div>


</footer>