<app-menu></app-menu>
  <h1>Pollos El "MONO"</h1>

<div class="contenedor_index">
    <div class="documentacion">
        <div class="mis_vis">
          <h3> Misión:</h3>
          <p>
            Pollos El "Mono" busca ser la mejor distribuidora de pollos y carnes a nivel nacional, poniendo en conocimiento sus excelentes productos de buena calidad y a un precio económico para el alcance de todos.
          </p>
          <h3> Visión:</h3>
          <p>
            Nuestro objetivo a largo plazo es no ser solo el centro de distribución del Sur en el sector de Guamaní, buscamos expandirnos al Norte de la Capital con el fin de llegar a más personas logrando a si ser una empresa que pueda competir a nivel nacional.

          </p>
        </div>
        <div class="historia">
          <h3> Historia:</h3>
          <p>
            Llevamos 4 años ofreciendo los mejores productos a todo tipo de clientes, en especial a las amas de casa.
El negocio nació de la necesidad del Gerente y Fundador "Francisco Narea", al no terminar sus estudios vio la necesidad de generar sus propios recursos económicos, al principio vendía pollos en su domicilio y al darse cuenta de que los clientes aumentaban, inicio su primer establecimiento la Av. Pedro Vicente Maldonado &, Quito 170132 que hoy en día es la matriz de Pollos El "Mono".
          </p>
        </div>
    </div>
    <div class="mapa">
      <div>
        <h3>Seleccione: </h3>
        <select name="select" id="selector" (click)="poner_direcion()">
          <option value="1">Matriz</option>
          <option value="2">Local en Santo Tomas</option>
          <option value="3">Local del asadero</option>
          <option value="4">Local en Caupicho I</option>
          <option value="5">Local en Caupicho II</option>
        </select>
      </div>
      <div class="contet_mapa" id="map" >
         
      </div>
    </div>
</div>
